# IDE
.vscode
.idea

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*

# Docs
docs/

# Dotenv file
.env

# Script output
blocks-*.json
proof-*.json
test-data.json
Deployments.json
